Observer pattern - Wikipedia, the free encyclopedia.pdf
Sample1
sample2
The introduction to Reactive Programming you've been missing.pdf
The Reactive Manifesto.pdf
Top 7 Tips for RxJava on Android — Futurice.pdf
